.main{
    height: 378px;
    width: 300px;
    border: 1px solid black;
}
input{
    font-size: 30px;
    margin: 10px;
    width: 85%;

}
.buttoncontainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.button{
  text-align: center;
border: 1px solid black;
height: 45px;
width: 45px;
margin: 8px;

}